Student DB: Create a PANDAS dataframe for a university database holding student information

The database should contain the student's ID, name, field of study and number of semesters

Print your data frame

In [1]:
#PANDAS Data Frames
import pandas as pd

list_2dim = [[100112,"Jim Collins","Wifo",4],[120095,"Martin Schrader","Wifo",7],[180331,"Achim Zahn","OMM",1]]

df = pd.DataFrame(list_2dim,index=['ID1','ID2','ID3'],columns=['ID','Name','FoS','Semesters'])
df

         ID             Name   FoS  Semesters
ID1  100112      Jim Collins  Wifo          4
ID2  120095  Martin Schrader  Wifo          7
ID3  180331       Achim Zahn   OMM          1

Perform the following operations on your data frame and check the result:
- Select columns "ID" and "Name"
- Create a new column adding one semester to the existing number of semesters
- Permanently drop the new column again

In [2]:
#Select columns "ID" and "Name"
print(df[['ID','Name']])
print("\n")

#Create a new column adding one semester to the existing number of semesters
df['Semesters+1']=df['Semesters']+1
print(df)
print("\n")

#Permanently drop the new column again
df.drop('Semesters+1',axis=1,inplace=True)
print(df)

         ID             Name
ID1  100112      Jim Collins
ID2  120095  Martin Schrader
ID3  180331       Achim Zahn


         ID             Name   FoS  Semesters  Semesters+1
ID1  100112      Jim Collins  Wifo          4            5
ID2  120095  Martin Schrader  Wifo          7            8
ID3  180331       Achim Zahn   OMM          1            2


         ID             Name   FoS  Semesters
ID1  100112      Jim Collins  Wifo          4
ID2  120095  Martin Schrader  Wifo          7
ID3  180331       Achim Zahn   OMM          1

Perform the following operations on your data frame and check the result:
- Select all columns for one specific student
- Show the name of all students in a specific semester (without directly selecting one row)

In [3]:
#Select all columns for one specific student
print(df.loc['ID2'])

#Show the name of all students in a specific semester (without directly selecting one row)
print("\n")
print(df['Semesters']==1)
#...and now the name
print(df[df['Semesters']==1]['Name'])

ID                    120095
Name         Martin Schrader
FoS                     Wifo
Semesters                  7
Name: ID2, dtype: object


ID1    False
ID2    False
ID3     True
Name: Semesters, dtype: bool
ID3    Achim Zahn
Name: Name, dtype: object